<script src="../../vendor/countdown.js"></script>      
<script src="../../vendor/animation.js"></script>
<header class='counthead text-right text-white'>
    <div class="counthead-content">

        <div id="clockdiv">
          <div>
            <span class="days"></span>
            <div class="smalltext">Days</div>
          </div>
          <div>
            <span class="hours"></span>
            <div class="smalltext">Hours</div>
          </div>
          <div>
            <span class="minutes"></span>
            <div class="smalltext">Minutes</div>
          </div>    
          <div>
            <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
          </div>
        </div>
        
    </div>
</header>
